<!DOCTYPE html>

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <style>
        body {
            background-color: linen;
        }

        h1.title {
            color: maroon;
            margin-left: 40px;
            text-align: center;
        }

        .center {
            text-align: center;
        }
    </style>
    <title>Depressed</title>
</head>

<body>
    <div class="container">

        <h1 class="title">Depressed Website</h1>
        <p class="center">
            I'm sad can you make me happy by sending a message? if not
            <br>I'll delete the entire database in
        <div class="card text-center">

            <div class="card-body">
                <h5 class="card-title" id='time'></h5>
            </div>

        </div>
        </p>
        <p class="center"></p>
        <div class="card text-center">
            <div class="card-header">
                Some Message Made Me Not Sad
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <p class="card-text" id='text'></p>
                    </div>
                    <div class="col">
                        <p class="card-text" id='text2'></p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                        <p class="card-text" id='text3'></p>
                    </div>
                    <div class="col">
                        <p class="card-text" id='text4'></p>
                    </div>
               
                  </div>
                </div>

            </div>

        </div>
        <br>
        <h3 class="center">
            To Send A Message
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Submit">
            </form>
        </h3>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
    <script>
var countDownDate = document.getElementById("time")
var text = document.getElementById("text")

var time = '{{time}}';
countDownDate=time;
now = '{{now}}';
time_calculated = '{{time_calculated}}';

var date = now.split(",");
var distance = time_calculated ;

var messages2 = []
{% for message in messages %}
messages2.push('{{message.text}}');
console.log('{{message}}')
{%endfor%}

random = Math.floor(Math.random() * 10); 

console.log('{{messages}}');
var messagefunc = setInterval(function() {

// Get today's date and time
//var now = new Date().getTime();

// Find the distance between now and the count down date
//dateObject = new Date();
//dateObject.setFullYear(date[1])
//console.log(dateObject)

distance = distance-1 ;

// Time calculations for days, hours, minutes and seconds
var days = Math.floor(distance / (3600*24));
var hours = Math.floor(distance % (3600*24) / 3600);
var minutes = Math.floor(distance % 3600 / 60);
var seconds = Math.floor(distance % 60);

// Display the result in the element with id="demo"
document.getElementById("text").innerHTML = messages2[Math.floor(Math.random() * messages2.length)]
document.getElementById("text2").innerHTML = messages2[Math.floor(Math.random() * messages2.length)]
document.getElementById("text3").innerHTML = messages2[Math.floor(Math.random() * messages2.length)]
document.getElementById("text4").innerHTML = messages2[Math.floor(Math.random() * messages2.length)]

// If the count down is finished, write some text

}, 3000);
var x = setInterval(function() {

// Get today's date and time
//var now = new Date().getTime();

// Find the distance between now and the count down date
//dateObject = new Date();
//dateObject.setFullYear(date[1])
//console.log(dateObject)

distance = distance-1 ;

// Time calculations for days, hours, minutes and seconds
var days = Math.floor(distance / (3600*24));
var hours = Math.floor(distance % (3600*24) / 3600);
var minutes = Math.floor(distance % 3600 / 60);
var seconds = Math.floor(distance % 60);

// Display the result in the element with id="demo"
document.getElementById("time").innerHTML = days + "d " + hours + "h "
+ minutes + "m " + seconds + "s ";

// If the count down is finished, write some text
if (distance < 0) {
  clearInterval(x);
  document.getElementById("time").innerHTML = "ALL THE DATA GETS DELETED!";
}
}, 1000);


    </script>
</body>

</html>